
@import url("reset.css");

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
	background-color:whitesmoke;
    color:#333
}

  
  .side {
     display:inline-block;
	 font-size: 200%;
    }
	
	div {
		font-family: Verdana;
		color: brown;
		font-size: 150%;
	}

	div.relative {
		position: relative;
		top: 10px;
		width: 1200px;
		height: 40px;
	} 

	div.title_position {
		position: absolute;
		top: 5px;
		left: 280px;
		width: 920px;
		height: 40px;
	}	

	div.download_position {
		position: absolute;
		top: 0px;
		left: 650px;
		width: 360px;
		height: 40px;
	}	
	
	input.download_button
	{
		font-family: Verdana;
		color: brown;
		font-size: 100%;
	}
	
	div.keyfeatures{
		position: absolute;
		top: 2px;
		left: 430px;
		font-size: 70%;
		font-weight: bold;
		text-align: center;
	}	
	
	div.content1position {
		position: absolute;
		top: 30px;
		left: 140px;
		font-size: 70%;
		text-align: center;
	}	
	
	div.content2position {
		position: absolute;
		top: 100px;
		left: 75px;
		font-size: 70%;
		text-align: center;
	}	
	
	div.content3position {
		position: absolute;
		top: 150px;
		left: 30px;
		font-size: 70%;
		text-align: center;
	}	

	div.content4position {
		position: absolute;
		top: 210px;
		left: 30px;
		font-size: 70%;
		text-align: center;
	}	
	
	div.content5position {
		position: absolute;
		top: 280px;
		left: 55px;
		font-size: 70%;
		text-align: center;
	}	
	
	div.content6position {
		position: absolute;
		top: 310px;
		left: 125px;
		font-size: 70%;
		text-align: Left;
	}	
	
	div.content7position {
		position: absolute;
		top: 370px;
		left: 158px;
		font-size: 70%;
		text-align: Left;
	}	

    div.header_border_with_radius {
        display:block;
        position: absolute;
        top: 500px;
        left: 36px;
        width: 1120px;
        height: 45px;
        
        /* IE10+ */ 
    background-image: -ms-linear-gradient(top, #f8ffe8 0%, #DBF5A7 100%, #E8FFD4 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #f8ffe8 0%, #DBF5A7 100%, #E8FFD4 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #f8ffe8 0%, #DBF5A7 100%, #E8FFD4 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, top top, left top, color-stop(0, #f8ffe8), color-stop(100, #DBF5A7), color-stop(100, #E8FFD4));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #f8ffe8 0%, #DBF5A7 100%, #E8FFD4 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to top, #f8ffe8 0%, #DBF5A7 100%, #E8FFD4 100%);
        
    /*    background: #E2FFB0;*/
        border-radius: 25px;
    /*    border: 1px solid #ceeb9c;*/
        margin: 5px;
        
        color: brown;
        font-size: 80%;
    }
	
   div.header_menu {
        position: relative;
        top: 10px;
        left: 10px;
        color: brown;
        font-size: 90%;
        font-weight: bold;
        /*border: 3px solid #000000;*/
    }   
	a{
		color: brown;
	}
	
p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#contentwrap {
    width: 1000;
    float: left;
    margin: 0 auto;
}

div.content {
	position: absolute;
	top: 38px;
	left: 75px;
	width: 1020px;
	height: 430px;
/*	border: 3px solid #000000;*/
	/* IE10+ */ 
background-image: -ms-linear-gradient(top, #f8ffe8 0%, #DBF5A7 100%, #E8FFD4 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #f8ffe8 0%, #DBF5A7 100%, #E8FFD4 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #f8ffe8 0%, #DBF5A7 100%, #E8FFD4 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, top top, left top, color-stop(0, #f8ffe8), color-stop(100, #DBF5A7), color-stop(100, #E8FFD4));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #f8ffe8 0%, #DBF5A7 100%, #E8FFD4 100%);

/* W3C Markup */ 
background-image: linear-gradient(to top, #f8ffe8 0%, #DBF5A7 100%, #E8FFD4 100%);
	
/*    background: #E2FFB0;*/
    border-radius: 215px;
    border: 1px solid #ceeb9c;
    margin: 5px;
}

h2{
	font-weight:bold;
}


div.Shops{
	 display:block;
	 position:absolute;
	 left: 30px;
     top: 600px;	
	}

div.ShopA{
	 display:block;
	 padding-top:20px;
	}

	div.ShopB{
 display:block;
 padding-top:20px;
}

div.ShopC{
 display:block;
 padding-top:20px;
}

	